.container {
    width: 70%;
    max-width: 900px;
    margin:auto;
} 
.slider {
    padding: 4rem 0;
    position: relative;
    top: 0;
    left:0;
}
#main-picture  img{
    height: 400px;
    width: 1000px;
    display:block;
}
.picture h2, .picture p {
    position:absolute;
    top: 30px;
    right: 0;
    color:white;
}
.picture h2 {
    padding: 2rem 2rem;
    font-size: 2rem;
}
.picture p {
    padding: 4.5rem 2rem;
    font-size: 1.2rem;
}
#forward, #backward {
    z-index: 999;
    cursor:pointer;
    position: absolute;
    width:50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    line-height: 5rem;
    opacity: 60%;
    font-size: 1.6rem;
    transition:.5s;
}
#forward {
    top: 50%;
    right: 0%;
}
#forward:hover, #backward:hover {
    opacity:100%;
}
#backward {
    top:50%;
    left:0%;
    margin-left: 4rem;
}
.bottom {
    height: 100px;
    width: 100%;
}
.thumb img {
    width:1000px;
    height: 100px;
    display:block;
    border:inset 2px white;
}
.thumb {
}
.dark {
    filter:brightness(30%);
    border:inset 0px white;
}